.hero h2{
    text-align: center;
    background-color: red;
    font-style: italic;
}
.hero p{
    background-color: cadetblue;
    margin: 10px;
    border: 5px solid black;
    border-radius: 10px;
}
.head{
    text-align: center;
    font-weight: bold;
    background-color: darkseagreen;
}
form{
    text-align: center;
    background-color: dimgray;
    border: 10px solid darkgreen;
}